@{
    ViewBag.Title = "About";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>About us</h1>
            </hgroup>
            <p>
                Your hassle-free hub for all buying and selling
            </p>
        </div>
    </section>
}

<article>
    <p>
        <h3>Buy and sell products easily through us.</h3>
    </p>
    <p>&nbsp;</p>
    <p>
        Our goal has been and always will be to make your life easy by offering you a simple and easy solution of buying and selling goods online.
        <br />
    We guarantee you will not regret joining with us.
        <p>&nbsp;</p>
    <p>
        Ease your shopping with just few simple clicks.
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p style="font-size: smaller">
        Disclaimer: We do not claim for any losses when two parties deal. The authenticity of the product should be verified before purchasing.
    </p>
</article>
