@{
    ViewBag.Title = "Contact";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Contact us</h1>
            </hgroup>
            <p>
                Our dedicated team is always ready to help you
            </p>
        </div>
    </section>
}

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>01-41007007</span>
    </p>
    <p>
        <span class="label">After Hours:</span>
        <span>977-9841420420</span>
    </p>
</section>
<br />
<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:Support@example.com">Support@cosmos.edu.np</a></span>
    </p>
    <p>
        <span class="label">Marketing:</span>
        <span><a href="mailto:Marketing@example.com">Marketing@cosmos.edu.np</a></span>
    </p>
    <p>
        <span class="label">General:</span>
        <span><a href="mailto:General@example.com">General@cosmos.edu.np</a></span>
    </p>
</section>
<br />

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        Cosmos College<br />
        Satdobato, Kathmandu
    </p>
</section>